.footer {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;

    div {
        width: 100%;
        height: 80%;
        display: flex;

        .footer_div1 {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .div1_text {
                width: 80%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .inputDiv {
                    width: 100%;
                    height: 50px;
                    display: flex;

                    form {
                        width: 60%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        background-color: white;
                        border-radius: 100px;

                        input {
                            width: 83%;
                            height: 50px;
                            outline: none;
                            border: none;
                            border-radius: 100px 0 0 100px;
                            text-indent: 20px;

                            &::placeholder {
                                font-size: 14px;
                                font-family: sans-serif;
                                font-weight: 600;
                            }
                        }

                        button {
                            width: 14%;
                            height: 95%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            border-radius: 50px 50px 50px 50px;

                            .btnIcon {
                                font-size: 20px;
                            }

                        }
                    }
                }

                .iconsDiv {
                    width: 30%;
                    height: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    .icons {
                        font-size: 25px;

                        &:nth-child(1) {
                            color: #56ACEE;
                        }

                        &:nth-child(2) {
                            color: #3b5998;
                        }

                        &:nth-child(2) {
                            color: #0976b4;
                        }
                    }
                }
            }




        }

        .footer_div2 {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            div {
                width: 200px;
                height: 200px;
                display: flex;
                // align-items: center;
                justify-content: center;

                &:last-child {
                    align-items: flex-start;

                    ul {
                        height: 80%;
                    }
                }

                ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;



                    h2 {
                        font-family: sans-serif;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    li {
                        list-style-type: none;



                        a {
                            text-decoration: none;
                            color: #666872;
                            font-family: sans-serif;
                            font-size: 14px;
                            font-weight: 400;

                            &:hover {
                                border-bottom: 1px solid #666872;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer_footer {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;

        .footer_footerDiv {
            width: 70%;
            height: 100%;


            div {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-child(2) {
                    width: 70%;
                    height: 100%;

                    li {
                        list-style-type: none;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width:431px) {
    .footer {
        height: auto;
        padding-top: 20px;
        margin-top: 30px;



        div {
            flex-direction: column;
            align-items: center;

            .footer_div1 {
                width: 100%;

                .div1_text {
                    width: 100%;
                    align-items: center;

                    .inputDiv {
                        justify-content: center;
                        align-items: center;
                        margin-top: 15px;

                        form {
                            button {
                                width: 20%;
                            }
                        }
                    }

                    h1 {
                        font-size: 20px;
                    }

                    .iconsDiv {
                        margin-top: 15px;
                        width: 100%;
                        flex-direction: row;
                    }
                }
            }

            .footer_div2 {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                div {
                    ul {
                        align-items: center;
                        // background-color: red;
                    }
                }
            }


        }

        .footer_footer {
            // background-color: red;

            .footer_footerDiv {
                // background-color: red;
                width: 100%;

                div {
                    // background-color: red;

                    p {
                        font-size: 10px;
                    }

                    &:nth-child(2) {
                        width: 100%;
                        display: flex;
                        // align-items: start;
                        flex-direction: row;

                        li {
                            font-size: 10px;
                        }


                    }
                }
            }
        }

    }
}